{% extends "base.html" %}

{% block content %}
<!-- this is where we rend album -->
<!-- ???  -->
<!-- {% if messages %}
<div class="messages ba br2 b--silver bg-washed-green pa2">
  {% for message in messages %}
  <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %} -->
<!-- ???  -->

<div>
    {% for book in books %}
        <div class="card">
            {% if book.title %}
                <p>{{book.title}}</p>
                <p>{{book.description}}</p>
                <p>{{book.created_at}}</p>
                <p>{{book.book_url}}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}